# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
*.lock

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model checkpoints / generated models
models/

# Raw and processed datasets
data/raw/
data/interim/
data/processed/